# General
.DS_Store
power_analysis/exploration/.Rhistory
.Rproj.user
power_analysis/.Rhistory
.Rhistory
stimulus_selection/fractals/rsconnect/documents/fractal_selection.Rmd/rpubs.com/rpubs/Document.dcf
